body {
    margin: 0;
    min-height: 100vh;
}

.blue {
    background-color: #c8dcf4;
}

.div1 {
    min-height: 25vh;
    border: 1px black solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.x
{
    background-color: white;
    border: 1px black solid;
    width: fit-content;
    margin-left: 30px;
    padding: 10px;
}

.div1text {
    margin-left: auto;
}

.midbody {
    min-height: 50vh;
    border-left: 1px black solid;
    border-right: 1px black solid;
    background-color: black;

    display: grid;
    gap: 1px;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 1fr 2fr 1fr;

}

.div2 {
    background-color: #ffecdc;
    grid-row: span 3;
    
}

.linklist {
    padding-left: 20px;
}

.div3 {
    background-color: #f0f4dc;
    grid-column: span 2;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.div4 {
    background-color: white;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}

.div5 {
    background-color: #ffecdc;
    width: 100%;
    grid-row: span 2;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div6 {
    background-color: #f0f4dc;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.div7 {
    min-height: 25vh;
    border: 1px black solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.y {
    background-color: white;
    border: 1px black solid;
    width: fit-content;
    margin-left: auto;
    margin-right: 30px;
    padding: 10px 20px 10px 0;
}

.mainpageimage {
    width: 100%;
}

.mapimage{
    width: 150px;
}

#work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
    z-index:1; 
    width: calc(40% + 10px);
    height: calc(80% + 50px);
    left:30%;
    top:10%;
    background-color:white;
    border: 1px black solid;
}

#work.hidden {
    display: none;
}

#controls {
    flex: 1;
    width: 100%;
    display: flex;
    align-content: center;
}

.disabled {
    pointer-events: none;
}

#anim {
    background: url(../images/1.png) top/100% 50% no-repeat, url(../images/2.png) bottom/100% 50% no-repeat;
    box-sizing:border-box;
    border: 5px blue solid;
    width: 100%;
    height: calc(100% - 50px);
}

#orange-ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 30px         ;
}

#blue-ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #00d2ff;
    border-radius: 30px;
}

.hidden {
    display: none;
}

#table-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.table-item {
    margin: 5px;
    border: 1px black solid;
}

@media screen and (max-width: 700px){
    .midbody {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    }
    .div2 {
        grid-row: 1;
    }
    .div3 {
        grid-column: 1;
    }
    .div4 {
        grid-row: span 1;
    }
    .div5 {
        grid-row: span 1;
    }   
}